.registration-parent-div {
  text-align: center;
}
.registration-parent-div::-webkit-scrollbar { 
    display: none;
}

.registration-child-div {
  display: inline-block;
  width: 33%;
}

.div-steps {
   margin-left: 15%;
   margin-right: 15%;
   margin-bottom: 5%;
   margin-top: 4%;
}

.input-fields {
   margin-bottom: 3%;
}

.check-box-agreement {
   margin-left: -33%;
}

.register-button {
    margin-left: -67%;
    margin-top: 6%;
    width: 32%;
}

.verification-title {
   font-size: 38px;
}

.verification-sub-title {
   font-size: 26px !important;
}

.ant-page-header {
   font-size: 25px !important;
}

.verification-code-input {
   margin-bottom: 2% !important;
   width: 26% !important;
}